#root{
  min-height: 100vh;
  padding-block: 1.5rem;
}

.containerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.listLinksHome{
  display:flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.listLinksHome a{
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SignOut{
  width:min-content;
  color: red;
  border-color: red;
}
.SignOut:hover{
  width:min-content;
  color: rgb(255, 115, 115);
  border-color: rgb(255, 115, 115);
}

.listBooks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.listBooks article{
  margin: 0;
}

@media (max-width:1020px ) {
  .listBooks{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:560px ) {
  .listBooks{
    grid-template-columns: repeat(1, 1fr);
  }
}